@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.section-container {
    min-height: calc(100vh - theme("spacing.80"));
    @apply flex flex-col justify-center items-center  w-full max-w-6xl h-auto my-4 mx-auto p-12;
}

.section-header {
    @apply font-bold text-4xl mt-12 mb-6 self-start;
}

.body-text {
    @apply text-sm my-2 max-w-prose;
}

.card {
    @apply p-4 rounded-xl shadow-md dark:bg-slate-800;
}

.form-input {
    @apply border border-2 border-slate-300 w-full rounded;
}
