@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(148 163 184) rgb(248 250 252);
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: rgb(248 250 252);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(148 163 184);
}

h2,
h3,
h4 {
    font-family: "Lora", serif;
}

/* line shape to create plus, minus, hamburger, etc. */
.menu-line {
    @apply h-1 w-full rounded-full bg-sky-400;
}

/* animated buttons */
.menu-button,
.summary-toggle {
    @apply block w-full;
}

.menu-inactive,
.summary-toggle {
    @apply menu-line;
}

.menu-button::before,
.menu-button::after,
.summary-toggle::before {
    @apply block absolute menu-line transition ease-in;
    content: "";
}

/* hamburger menu animation */
.menu-inactive::before {
    @apply -translate-y-2.5;
}

.menu-inactive::after {
    @apply translate-y-2.5;
}

.menu-active::before {
    @apply rotate-45;
}

.menu-active::after {
    @apply -rotate-45;
}

/* experience plus/minus animation */
.summary-toggle::before {
    @apply rotate-90;
}

.summary-toggle-active::before {
    @apply scale-x-0;
}

.summary-toggle-inactive::before {
    @apply scale-x-100;
}

/* links with animated underline */
.animated-link {
    @apply relative;
}

.animated-link:hover,
.animated-link:focus {
    @apply active-link;
}

.active-link:hover {
    @apply text-sky-500;
}

.animated-link::after {
    @apply absolute block -bottom-1 h-0.5 w-full bg-black dark:bg-white scale-x-0 transition ease-in origin-left;
    content: "";
}

.active-link:hover::after {
    @apply scale-x-100 bg-sky-500;
    content: "";
}

/* name in main hero; not selectable through typography plugin */
.hero-text p b {
    @apply text-5xl;
}

/* greeting in about section; not selectable with typography plugin */
#About b {
    font-family: "Lora", serif;
    @apply text-xl;
}

/* container utility for page sections */
.section-container {
    min-height: calc(100vh - theme("spacing.80"));
    @apply w-full max-w-6xl h-auto mx-auto flex flex-col items-center;
}

/* style top-level header in page section */
.section-header {
    @apply font-bold text-5xl;
}

/* consistent spacing for larger blocks of text */
.body-text {
    @apply my-2 max-w-prose;
}

/* simple reuseable components */
.card {
    @apply p-3 md:p-4 rounded-md shadow-md bg-white dark:bg-slate-800;
}

.form-input {
    @apply py-1 px-2 border-2 border-slate-300 dark:border-slate-600 w-full rounded;
}

.solid-button {
    @apply flex justify-center items-center font-semibold text-base text-white shadow-md dark:text-slate-900 rounded-md py-2 px-4 bg-sky-500 hover:opacity-50;
}

.outline-button {
    @apply rounded-md border-2 font-semibold text-base px-2 py-1 text-sky-500 border-sky-500 hover:opacity-50;
}
