@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(148 163 184) rgb(248 250 252);
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: rgb(248 250 252);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(148 163 184);
}

h2,
h3,
h4 {
    font-family: "Lora", serif;
}

.menu-line {
    @apply h-1 w-full rounded-full bg-black dark:bg-white;
}

.menu-button {
    @apply block w-full;
}

.menu-inactive {
    @apply menu-line;
}

.menu-button::before,
.menu-button::after {
    @apply block absolute menu-line transition ease-in;
    content: "";
}

.menu-inactive::before {
    @apply -translate-y-2.5;
}

.menu-inactive::after {
    @apply translate-y-2.5;
}

.menu-active::before {
    @apply rotate-45;
}

.menu-active::after {
    @apply -rotate-45;
}

.nav-link {
    @apply relative;
}

.nav-link:hover,
.nav-link:focus {
    @apply active-link;
}

.active-link {
    @apply text-blue-600 dark:text-yellow-300;
}

.nav-link::after {
    @apply absolute block -bottom-1 h-0.5 w-full bg-black dark:bg-white scale-x-0 transition ease-in origin-left;
    content: "";
}

.active-link:hover::after {
    @apply scale-x-100 bg-blue-600 dark:bg-yellow-300;
    content: "";
}

.required-label::after {
    content: " *";
    @apply text-red-500;
}

/* text surrounding name in main hero */
.hero-text p {
    @apply text-xl md:text-2xl font-medium max-w-2xl px-8 my-2;
}

/* name in main hero */
.hero-text p b {
    @apply text-4xl md:text-5xl;
}

.body-text p {
    @apply my-2;
}

/* greeting in about section */
#About b {
    font-family: "Lora", serif;
    @apply text-xl;
}

/* experience description */
.experience-body > ul {
    @apply mb-8 list-disc pl-8;
}

.project-body > h3 {
    @apply text-2xl my-2;
}

.project-body > ul {
    @apply list-disc pl-8;
}

.section-container {
    min-height: calc(100vh - theme("spacing.80"));
    @apply flex flex-col justify-center items-center w-full max-w-6xl h-auto mx-auto;
}

.section-header {
    @apply font-bold text-4xl md:text-5xl;
}

.sticky-header {
    @apply self-start w-full my-4 py-4 bg-slate-50 dark:bg-slate-900 sticky top-14;
}

.body-text {
    @apply text-sm md:text-base my-2 max-w-prose;
}

.card {
    @apply p-3 md:p-4 rounded-xl shadow-md bg-white dark:bg-slate-800;
}

.project-card-summary ul {
    @apply list-disc;
}

.project-card-summary ul li {
    @apply text-sm;
}

.form-input {
    @apply py-1 px-2 border border-2 border-slate-300 dark:border-slate-600 w-full rounded;
}

.highlight-text {
    @apply text-blue-600 dark:text-yellow-300;
    font-family: "Lora", serif;
}

.solid-button {
    @apply flex justify-center items-center font-bold text-base text-white shadow-md dark:text-slate-900 bg-blue-600 dark:bg-yellow-300 hover:opacity-50 rounded-md py-2 px-2;
}

.outline-button {
    @apply rounded-lg border-4 shadow-md border-blue-600 text-lg text-blue-600 dark:border-yellow-300 dark:text-yellow-300 hover:opacity-50 px-3 py-1 w-fit h-fit;
}
